*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
}


/**Boot CSS**/

html,body{
	overflow-x: hidden;
	height: 100%;
}

input{
	border: 0;
	border-radius: 5px;
}

img{
	width: 100%;
	max-width: 300px;
}

.center{
	max-width: 1280px;
	padding: 0 2%;
	margin: 0 auto;
}

.w33{
	width: 33.3%;
	padding: 0 10px;
}

.w50{
	padding: 0 10px;
	width: 50%;
}

.left{
	float: left;
}

.right{
	float: right;
}

.clear{
	clear: both;
}

/**Estilização**/
.overlay-loading{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 999;
	background: rgba(0,0,0,0.4);
}

.sucesso{
	display: none;
	position: fixed;
	right: 30px;
	top: 80px;
	padding: 10px 30px;
	width: 320px;
	color: #008000;
	font-weight: bold;
	background-color: #DFF2BF;
	border-radius: 5px;
	z-index: 999;
}

.erro{
	display: none;
	position: fixed;
	right: 30px;
	top: 80px;
	padding: 10px 30px;
	width: 250px;
	color: rgb(167,57,59);
	font-weight: bold;
	background-color: rgb(242,222,222);
	border-radius: 5px;
	z-index: 999;
}

.overlay-loading img{
	width: 64px;
	height: 64px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

header{
	position: fixed;
	top: 0;
	width: 100%;
	padding: 10px 0;
	background: #F2B705;
	z-index: 998;
}

.logo img{
	margin-top: 5px;
	width: 100%;
	max-width: 70px;
}

.mobile{
	display: none;
}

.mobile i{
	padding: 20px 0;
}

nav.desktop ul{
	position: relative;
	top: 25px;
	list-style-type: none;
}

nav.desktop li{
	font-size: 15px;
	padding: 0 25px;
	text-transform: uppercase;
	display: inline-block;
}

nav.desktop a{
	color: #010101;
	font-size: 20px;
	font-weight: 400;
}

#icon{
	display: inline-block;
	font-size: 30px;
}

section.apresentacao{
	margin-top: 100px;
	text-align: center;
	padding: 30px 0;
	background: #2703A5;
	border-bottom: 7px solid #F2B705;
}

section.apresentacao img{
	margin-top: 30px;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	border: 3px solid #F2B705;
}

section.apresentacao h2{
	font-size: 30px;
	font-weight: 400;
	color: #F2B705;
	margin-bottom: 15px;
}

section.apresentacao p{
	font-size: 20px;
	color: #FBFBFB;
	margin-top: 10px;
	padding: 5px 20px;
	padding-bottom: 30px;
}

section.servicos{
	background: #FBFBFB;
}

section.servicos h2.title{
	padding: 30px;
	font-size: 30px;
	font-weight: 400;
	text-align: center;
	color: black;
}

.box-servico{
	text-align: center;
	padding-bottom: 40px;
}

.box-servico h3{
	font-size: 45px;
}

.box-servico h4{
	font-size: 20px;
	font-weight: 600;
	color: black;
}

.box-servico p{
	font-size: 15px;
	padding: 5px 0;
	min-height: 100px;
}

.box-servico a{
	font-size: 17px;
	color: #F2B705;
	padding: 7px 14px;
	background-color: #141359;
	border-radius: 7px;
}

section.banner-container{
	width: 100%;
	min-height: 600px;
	position: relative;
	border-top: 7px solid #F2B705;
}

.banner-container h1{
	position: relative;
	text-align: center;
	padding: 20px 0;
	color: white;
	font-weight: 600;
	z-index: 2;
	font-size: 20px;
}

.banner-container h1.frase{
	font-style: italic;
	font-weight: 300;
}

.overlay{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(0,0,0,0.8);
}

section.banner-container img{
	position: absolute;
	width: 100%;
	height: 100%;
	max-width: 100%;
	left: 0;
	top: 0;
}

section.banner-container form{
	width: 93%;
	max-width: 600px;
	position: relative;
	left: 50%;
	z-index: 2;
	transform: translateX(-50%);
	-ms-transform:translateX(-50%);
	padding-bottom: 30px;
}

section.banner-container form h2{
	color: white;
	font-weight: 300;
	font-size: 25px;
	text-align: center;
	margin-top: 10px;
}

section.banner-container form input[type=text]{
	width: 100%;
	height: 66px;
	margin-top: 15px;
	background: white;
	color: #333;
	font-size: 22px;
	padding-left: 10px;
}

section.banner-container form input[type=email]{
	width: 100%;
	height: 66px;
	margin-top: 15px;
	background: white;
	color: #333;
	font-size: 22px;
	padding-left: 10px;
}

section.banner-container form input[type=submit]{
	width: 100%;
	height: 66px;
	margin-top: 15px;
	background-color: #2703A5;
	color: white;
	font-size: 22px;
	cursor: pointer;
}

footer{
	background: #F2B705;
	padding: 00px 0;
}

footer.fixed{
	position: absolute;
	bottom: 0;
	width: 100%;
}

footer img{
	width: 100%;
	height: 100%;
	max-width: 200px;
	padding-top: 10px;
	padding-bottom: 5px;
}

footer p{
	color: #010101;
	text-align: center;
	font-weight: 400;
	font-size: 15px;
	padding-bottom: 5px;
}

footer ul{
	transform: translateX(-50%);
	margin-left: 50%;
	align-items: center;
	display: inline-block;
}

footer ul a{
	padding: 0 8px;
	font-size: 25px;
	color: #010101;
}

section.erro-404{
	position: absolute;
	top: 50%;
	width: 100%;
}

.erro-404 .center{
	position: relative;
	transform: translateY(-50%);
	-ms-transform: translate(-50%-50%);
}

.erro-404 h2{
	padding: 10px 5px;
	text-align: center;
	font-size: 25px;
	color: #444;
	border-bottom: 2px solid #444;
}

.erro-404 p{
	padding: 10px 0;
	text-align: center;
	font-size: 18px;
	color: #444;
}

.erro-404 a{
	color: #444;
}

.contato-container{
	text-align: center;
	background: #1F0F8C;
	margin-top: 100px;
	padding: 10px 0;
	min-height: 760px;
}

.contato-container h1{
	color: white;
	font-size: 30px;
	font-weight: 300;
	padding: 20px 0;
	padding-top: 90px;
}

.contato-container form{
	padding: 10px 0;
	padding-bottom: 30px;
}

.contato-container input[type=text]{
	width: 80%;
	max-width: 700px;
	height: 40px;
	border: 2px solid #F2B705;
	margin: 8px 0;
	font-size: 16px;
	color: #555;
	padding-left: 5px;
}

.contato-container input[type=email]{
	width: 80%;
	max-width: 700px;
	height: 40px;
	border: 2px solid #F2B705;
	margin: 8px 0;
	font-size: 16px;
	color: #555;
	padding-left: 5px;
}

.contato-container input[type=submit]{
	width: 120px;
	height: 40px;
	font-size: 20px;
	color: #1F0F8C;
	background-color: #F2B705;
	cursor: pointer;
}

.contato-container textarea{
	width: 80%;
	max-width: 500px;
	height: 200px;
	border: 2px solid #F2B705;
	border-radius: 5px;
	margin: 8px 0;
	font-size: 16px;
	color: #555;
	padding-left: 5px;
	resize: vertical;
}

.bullets{
	position: absolute;
	z-index: 5;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
}

.bullets span{
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: white;
	cursor: pointer;
	border: 1px solid #4c3282;
	margin: 0 5px;
}

.bullets span.active-slider{
	background: #4c3282;
	border: 1px solid white;
}

@media screen and (max-width: 1266px){
	.box-servico p{
		min-height: 115px;
	}
}

@media screen and (max-width: 1226px){
	.box-servico p{
		min-height: 120px;
	}
}

@media screen and (max-width: 1109px){
	.box-servico p{
		min-height: 135px;
	}
}

@media screen and (max-width: 1092px){
	.box-servico p{
		min-height: 140px;
	}
}

@media screen and (max-width: 954px){
	.box-servico{
		min-height: 360px;
	}

	.box-servico h4{
		min-height: 81px;
	}
}

@media screen and (max-width: 906px){
	.box-servico p{
		min-height: 155px;
	}

	.box-servico h4{
		min-height: 81px;
	}
}

@media screen and (max-width: 937px){
	.box-servico{
		min-height: 360px;
	}

	.box-servico h4{
		min-height: 81px;
	}
}

@media screen and (max-width: 890px){
	nav.desktop{
		display: none;
	}

	nav.mobile{
		display: block;
	}

	.botao-menu-mobile{
		font-size: 25px;
		cursor: pointer;
		color: black;
	}

	nav.mobile ul{
		top: 90px;
		z-index: 3;
		position: absolute;
		left: 0;
		width: 100%;
		display: none;
		text-align: center;
	}

	nav.mobile li{
		display: block;
		background: #F2B705;
		font-weight: 300;
		border-bottom: 1px solid black;
		font-size: 17px;
		padding: 10px 0;
	}

	nav.mobile li a{
		display: block;
		color: black;
		font-weight: 400;
	}

	img{
		float: none !important;
		margin: 0 auto;
	}

	.w33{
		width: 100%;
		padding: 20px 10px;
	}

	.w50{
		padding: 20px;
		width: 100%;
	}

	.box-servico{
		min-height: 120px;
	}

	.box-servico h4{
		min-height: 0;
	}

	.box-servico p{
		min-height: 0;
		padding-bottom: 10px;
	}
}


@media screen and (max-width: 415px){
	footer.fixed{
		padding-bottom: 10px;
		position: relative;
	}

	footer.fixed p img{
		padding-bottom: 0;
		padding-top: 10px;
	}

	.contato-container{
		min-height: 0;
	}

	.contato-container h1{
		padding: 15px 0;
		padding-top: 40px;
	}

	.contato-container form{
		padding: 10px 0;
		padding-bottom: 50px;
	}

	.contato-container textarea{
		height: 150px;
	}
}

@media screen and (max-width: 375px){
	footer.fixed{
		padding: 0;
		position: fixed;
	}

	footer.fixed p img{
		padding-bottom: 0;
		padding-top: 10px;
	}

	.contato-container{
		min-height: 0;
	}

	.contato-container h1{
		padding: 15px 0;
		padding-top: 40px;
	}

	.contato-container form{
		padding: 10px 0;
		padding-bottom: 60px;
	}

	.contato-container textarea{
		height: 150px;
	}
}